[2018-09-13 13:33] legionus opened #4 "Can not use Dockerfile"
[code]

[code]

Can we remove this modern option ?

[2018-09-13 13:42] legionus commented on #4
I'll answer to myself: no, this can not be removed.
This Dockerfile is completely unsuitable for Fedora 28 (the latest release).

[2018-09-13 13:48] legionus commented on #4
I'm going to revert https://github.com/openshift/cluster-image-registry-operator/pull/3 since it leads to regression. In this situation, I see only one way: generate an image with the same name using `operator-sdk build`.

[2018-09-13 14:57] bparees commented on #4
for posterity:

the solution is to use docker-ce, or switch the makefile to use buildah.

Personally i'd prefer the former because i think using buildah may be slower to build the image, but you can try it and see.

[2018-09-25 18:44] bparees opened #16 "rename CRD to imageregistry"
@legionus Can we rename openshiftdockerregistries.dockerregistry.operator.openshift.io to "openshiftimageregistries.imageregistry.operator.openshift"?

[2018-09-25 18:57] bparees opened #17 "operator allows filesystem storage change"
The operator prevents changing from filesystem to another storagetype, but it doesn't prevent me from changing my filesystem volumeSource from PVC to EmptyDir (or presumably other changes).  Such a change also invalidates my storage and therefore needs to be prevented.

[2018-09-25 19:15] bparees opened #18 "regsitryresource was not recreated after deleting it"
I deleted the registry resource and saw the registry deployment was cleaned up, but I did not see a new registry resource created until I restarted the registry operator.

[2018-09-26 12:43] legionus commented on #16
/сс @dmage

[2018-09-26 13:02] dmage commented on #16
I'm going to rename it to `imageregistries.imageregistry.operator.openshift.io`.

[2018-09-26 13:56] #16 closed

[2018-09-27 12:11] dmage commented on #18
Fixed by #23.

[2018-09-27 12:11] #18 closed

[2018-10-03 11:53] dmage opened #29 "Publish information about the registry"
In order to make the internal registry discoverable by other components (the API server, for example), we should create the ConfigMap openshift-image-registry/(image-registry-)?public-info with:

  1. our internal host name (image-registry.openshift-image-registry.svc.cluster.local:5000),
  2. our external host name.

This ConfigMap should be readable by `system:authenticated`.

[2018-10-03 11:58] bparees commented on #29
In addition to doing this, i'd like to change the api server behavior to default to `image-registry.openshift-image-registry.svc.cluster.local:5000` so that when the apiserver comes up before the registry is installed, it still has the correct value.

The reason this is important is because the imagechangecontroller caches the values of the imagestreams it lists, and the imagestream list/get api u

[2018-10-03 23:51] wking opened #30 "Crash-looping in installer e2e tests, /run/flannel/subnet.env missing, no matches for kind "Route" in version "route.openshift.io/v1""
I have an installer e2e job where this operator is crash-looping on AWS.  More details in openshift/installer#403, but specific to this operator are [this][1]:

[code]

and [this][2]:

[code]

I don't know if the missing `/run/flannel/subnet.env` are an API server issue (the API servers are also having trouble on this cluster), or a kubelet issue, or an operator issue, but thought I'd post here in

[2018-10-03 23:56] bparees commented on #30
the issue is that there is no openshift-api server so we can't watch route api resources.

i'm pretty sure the fact that it crashes is an operator-sdk issue, but regardless the fundamental issue here is the openshift-api server is not present.

[2018-10-03 23:56] #30 closed

[2018-10-12 13:34] deads2k opened #34 "need to retry failed deploymentconfig rollouts or switch to deployments"
Upstream deployments constantly try to rollout the latest state until explicitly asked not to.  DeploymentConfigs give up unless triggered again.  Given an operator managed deploymentconfig that should be actively reconciled, you should be retrying failed deployments since they can later succeed.

The current state in openshift/installer is a good example where a blip in the first rollout will cau

[2018-10-12 14:07] bparees commented on #34
/assign @legionus

if you want to switch the registry to a deployment for "new" registries you can, but it means you still need to deal with deploymentconfigs for 3.11 registries.  And we are still not prepared to take on migrating those 3.11 registries from a DC to a Deployment since ensuring we can do so without causing an outage, breaking storage, or otherwise blowing things up, isn't something

[2018-10-15 19:36] #17 closed

[2018-10-15 20:17] bparees opened #38 "move registry custom resource to be cluster scoped"
Since we only want one registry per cluster anyway (can't actually tolerate more than one) and because finalizers deadlock themselves when the finalizer and the resource being finalized run in the same namespace, we need to switch the registry resource CRD to be cluster scoped instead of namespace scoped.

/cc @deads2k

/assign @legionus

[2018-10-15 21:01] #34 closed

[2018-10-17 13:07] legionus opened #40 "Migrate from operator-sdk"
Since the operator has deleted the entire API [1], we are on the unsupported version in the vendor that cannot be updated. Of course, you can live with it for now, but eventually we need to rewrite everything using some another API.

[1] https://github.com/operator-framework/operator-sdk/commit/a78c1024ee091c666f7a29a4ab2fb8ffd9e1083b

[2018-10-17 13:29] legionus commented on #40
See also github.com/operator-framework/operator-sdk/issues/633

[2018-10-17 14:08] legionus commented on #40
/cc @bparees

[2018-10-17 20:07] gabemontero commented on #40
I'm also thinking that https://github.com/operator-framework/operator-sdk/issues/382 is some sort of umbrella or is at least related to this SDK evolution that is potentially making them untenable to us.

That issue was what prompted some of my questions in scrum over the last few weeks about "how will the SDK enable migration for us" ... which as @legionus has discovered ....their answer seems to

[2018-10-17 20:09] gabemontero commented on #40
ah check that ... just saw https://github.com/operator-framework/operator-sdk/issues/633#issuecomment-430716209

still .... seems like a wait and see approach could be warranted, at least until we see what they produce

[2018-10-18 10:10] legionus commented on #40
Since `operator-sdk` suggests using the `controller-runtime`, I no longer see the point in the `operator-sdk` itself.

[2018-10-18 10:13] legionus commented on #40
We have https://github.com/kubernetes/sample-controller as an example.

[2018-10-18 16:39] dmage opened #42 "Handle Proxy field in image registry spec."
We don't have handlers for the fields Proxy.HTTP and Proxy.HTTPS.

[2018-10-22 13:43] bparees commented on #29
Yes, some of this will be part of my work this sprint:  the image-registry operator will need to publish the internalRegistryHostname value into the cluster configuration so it can be consumed by the apisever and controllers (previously those components got the value from master-config.yaml).

and I have a PR for defaulting the value in some of the components themselves here, but i'm not sure it's

[2018-10-22 18:54] bparees opened #43 "progressing status is wrong"
both the image-registry resource and the clusteroperator resource are reporting "progressing=true" when the deployment is complete.

The deployment itself reports:
[code]

So either this is a misunderstanding on our part of what that means, or deployments have a bug in which they should be setting progressing to false/completed=true.

Certainly the "message: ReplicaSet "image-registry-7cbbc9dc8c"

[2018-10-22 18:55] bparees commented on #43
correction, only the image-registry resource is reporting progressing.  The clusteroperator shows progressing=false, which makes sense since its logic is driven by the # of replicas (though i think that logic is wrong and we need to discuss it)

[2018-10-22 19:37] gabemontero commented on #43
If a fix gets in before the demo on Wednesday I'll try to include it.

[2018-10-22 20:49] legionus commented on #43
@bparees Do you have data on the number of replicas in the deployment status?

[2018-10-22 20:56] bparees commented on #43
It was 1.

Ben Parees | OpenShift

On Mon, Oct 22, 2018, 16:49 Alexey Gladkov <notifications@github.com> wrote:

[2018-10-23 07:59] legionus commented on #43
But should be more than one or is it the number that you specified in the image-registry custom resource ?

[2018-10-23 12:05] legionus commented on #43
It does not matter.

[2018-10-23 13:29] bparees commented on #43
it was 1, and it should be 1 (1 was the requested number)

[2018-10-23 23:31] #43 closed

[2018-10-24 03:16] gabemontero commented on #43
FYI I was able to cut a new demo video using the fix from https://github.com/openshift/cluster-image-registry-operator/pull/44 and the `Progressing` condition showed what we expected.

[2018-10-24 03:30] bparees commented on #43
excellent!

[2018-11-05 15:54] #38 closed

[2018-11-07 00:26] wking opened #58 "Fatal "unknown storage backend" when the backend is empty"
@RobertKrawitz reports this operator crashing on both libvirt and AWS with:

[code]

From the first line of the logs, you can see that's with 601f5c32fdd327cb2e2309a8aee0b5362f0b892d from this repository.  I'll file a pull request at least expanding the logs for the missing config-map case.

[2018-11-07 00:34] bparees commented on #58
this was fixed in https://github.com/openshift/cluster-image-registry-operator/pull/54

[2018-11-07 00:34] #58 closed

[2018-11-07 00:39] wking commented on #58
Ah, sorry.  I'd searched for "unknown storage backend", saw no hits, and didn't dig deeper :p.

[2018-11-09 12:36] dmage opened #66 "Uninstall procedure"
We need a mechanism that will allow us to remove the registry. We have the ManagementState removed, but there is no indication of the removal progress. I can't delete the custom resource because the operator will re-bootstrap it.

I need this because I want to uninstall the operator and removed everything that was generated by the operator.

[2018-11-09 15:39] bparees commented on #66
the status "progressing" should reflect this information.

progressing=true - we are deleting the registry
progressing=false - we are done deleting the registry

Not sure how to handle the race condition between the time the user marks the resource removed, and the time the status gets updated to progressing=true, however.

i'm not entirely averse to another status condition "Removed=true/false" w

[2018-11-16 14:53] #66 closed

[2018-11-20 22:41] bparees opened #73 "finalizer hangs when deleting registry resource"
deleting a registry resource results in a hang, it doesn't look like the finalizer is succeeding/working.

In my case I did not have a registry created, I was simply deleting the default CR that was created (the one that has no storage configured, thus has not deployed a registry).

[2018-11-20 22:58] bparees opened #75 "switch from clusteroperators.operatorstatus.openshift.io to clusteroperator.config.openshift.io"
We should be creating/maintaining the new `clusteroperator.config.openshift.io` resource, not the old `clusteroperators.operatorstatus.openshift.io` one.

Also clusteroperator.config.openshift.io is not namespaced.

[2018-11-20 22:58] bparees commented on #75
/assign @legionus @dmage

[2018-11-22 09:09] legionus opened #78 "Move from logrus to klog"
Move from the logrus and the old `github.com/golang/glog` to `k8s.io/klog`

[2018-11-22 16:43] bparees opened #79 "s3 bucket management"
Follow up to https://github.com/openshift/cluster-image-registry-operator/pull/52 to resolve the items described in:
https://github.com/openshift/cluster-image-registry-operator/pull/52#discussion_r234775884

You need to ensure that on re-sync, we are making sure the bucket exists. That means a few things:

* Adding a condition on the registry resource that indicates when we have successfully crea

[2018-11-25 22:35] coreydaley commented on #79
@bparees Can you please clarify which resource should get the conditions?

[2018-11-26 00:19] bparees commented on #79
@coreydaley the registry custom resource.

[2018-11-26 15:30] legionus commented on #78
Done

[2018-11-26 15:30] #78 closed

[2018-11-26 15:30] legionus commented on #40
Done

[2018-11-26 15:30] #40 closed

[2018-11-26 22:10] coreydaley opened #85 "No logs in the cluster-image-registry-operator pod?"
After the image registry operator pod comes up I don't see any logs displayed (when running oc get logs pod/<pod>), not even the output from printversion() that should happen.

Is there a way to set the loglevel with klog also? (debug vs info)

Am I missing something or are the logs not working after the refactor to use klog?

[2018-11-26 22:11] bparees commented on #85
@legionus when you fix this please add an e2e that confirms logging is working also.

[2018-11-28 00:02] legionus commented on #85
Fixed

[2018-11-28 00:02] #85 closed

[2018-11-28 12:41] dmage opened #91 "Can't update empty volumeSource to use emptyDir"
The operator doesn't allow to change configuration from
[code]
to
[code]
because `storage type change is not supported: expected storage type filesystem, but got emptydir`.

/kind bug

[2018-11-28 13:23] dmage opened #93 "Restore finalizer"
The operator doesn't restore the finalizer if it was removed from CR manually.

/kind bug

[2018-11-28 15:02] bparees commented on #91
I think for now we need to remove the logic that prevents storage changes.

we can discuss it on scrum or elsewhere, but i'm coming to the conclusion that trying to block storage changes is going to be too painful in light of the need for users to potentially tweak settings like adding cloudfront to s3, or us generally getting storage wrong.

i'd rather start w/ it being allowed and in the future

[2018-11-28 15:10] bparees opened #94 "use listwatchers to cache resources"
we should be setting up listwatchers for all the resources we care about so that when we need to re-get them, we can get them from the cache instead of making redundant api calls.

[2018-11-29 20:23] bparees opened #99 "cluster s3 config should not stomp local secret config"
Today we copy s3 config from the cluster, into the secret in the image-registry namespace, and then drive that into the registry deployment.

Instead the registry operator should be:

1) checking if there is a local secret.  If so use it.
2) If not, check if there is cluster-wide s3 config, if so, use it directly (set it on the registry deployment, don't copy it into a local secret)

We also need

[2018-11-29 20:50] aveshagarwal opened #100 "Assign a priority class to pods"
Priority classes docs:
https://docs.openshift.com/container-platform/3.11/admin_guide/scheduling/priority_preemption.html#admin-guide-priority-preemption-priority-class

Example: https://github.com/openshift/cluster-monitoring-operator/search?q=priority&unscoped_q=priority

Notes: The pre-configured system priority classes (`system-node-critical` and `system-cluster-critical`) can only be assigned

[2018-11-29 22:12] bparees commented on #79
this also means you need to store the current bucket name in .status somewhere so you can recognize when it changes.

[2018-11-29 22:13] bparees commented on #79
(you should probably just store the entire Storage struct in status so you can detect changes)

[2018-11-29 22:18] coreydaley commented on #79
I was actually considering that earlier, that's what i will go ahead and do

[2018-11-30 00:39] coreydaley commented on #99
@bparees I just want to be sure that I understand what we want to do here.

1.)  Are we going to look for the same secret name that we were previously creating? Or come up with a new secret name that we will look for in the openshift-image-registry namespace?
2.)  We are no longer going to create the "image-registry-private-configuration", and instead set the environment variables directly on the

[2018-11-30 00:45] bparees commented on #99
1) for now, same secret name we were previously creating.  we *may* want/need to make the name (but not the namespace) configurable in the future, but for now i can accept a hardcoded secret name.  (we are both talking about the "image-registry-private-configuration" secret, right?)

2) hm.  I didn't realize we were using secret key refs today.  That changes things.

So let me start over here:  Th

[2018-11-30 00:57] coreydaley commented on #99
1.)  Yep, we are both talking about the same secret

Yep, that all makes sense and actually makes it easier.
can we call the user configurable secret "image-registry-private-configuration-user" vs the one we create "image-registry-private-configuration"?

[2018-11-30 00:59] bparees commented on #99
works for me.

bear in mind we may reach a point where we are pulling some keys from one and some keys from the other, so the logic can't just be "if secret X exists, use it".

[2018-11-30 01:05] coreydaley commented on #99
Actually, I think i have that backwards.
we need to have a secret called something like "aws-creds" in the openshift-image-registry namespace, because we are providing overrides for the kube-system/aws-creds file, not the image-registry-private-configuration secret.

[2018-11-30 01:06] coreydaley commented on #99
Which would also allow someone to setup s3 storage even if they are not running on aws (potentially), which is I think what we want at some point in the future

[2018-11-30 01:09] bparees commented on #99
you can look at it different ways/overriding at different points.  since i don't want to have N different override secrets for all the different platforms/cred types, i'd rather just say "if you don't want to use the creds we discovered on the cluster, put your creds in private-configuration-user and we'll use that as our first discovery source"

we can discuss this a little more during planning t

[2018-11-30 01:16] coreydaley commented on #99
got it.  thanks

[2018-11-30 13:41] bparees commented on #42
Just needs to set the proxy value using the appropriate registry env var on the registry deployment.

[2018-11-30 13:46] bparees commented on #93
fixed

[2018-11-30 13:46] #93 closed

[2018-11-30 13:48] bparees commented on #75
and add an e2e test that confirms this is getting set.

[2018-11-30 13:51] bparees commented on #75
Needs additional RBAC permissions to update clusteroperator/status

[2018-11-30 15:07] #100 closed

[2018-11-30 18:13] coreydaley opened #104 "Make test failing : deploy declared but not used"
Oleg,
Since you added this test could you check this out?
Not sure how it got merged with this test failing either?

https://github.com/openshift/cluster-image-registry-operator/blob/master/test/e2e/recreate_deployment_test.go#L50

# github.com/openshift/cluster-image-registry-operator/test/e2e_test
test/e2e/recreate_deployment_test.go:50:2: deploy declared but not used
vet: typecheck failures
FAI

[2018-11-30 18:37] dmage commented on #104
This will be fixed by https://github.com/openshift/cluster-image-registry-operator/pull/98/files

[2018-11-30 18:40] bparees commented on #104
i've merged the fix but i'm not sure how the original PR passed testing either.  I manually merged it, but only after it had passed e2e-aws-operator.

[2018-11-30 18:40] #104 closed

[2018-11-30 19:21] dmage commented on #104
Did it fail in our CI?

[2018-12-05 13:23] bparees opened #111 "use more unique s3 bucket names"
Currently we're using a generated uuid for the bucket name:
https://github.com/openshift/cluster-image-registry-operator/blob/d7c2a4d1559fbff6a0b594e23e6bde16df497530/pkg/storage/s3/s3.go#L161

@cuppett mentioned that this isn't generally considered good enough on S3 because of the universal nature of the bucket namespace.  He had some suggestions for additional values we should include in the nam

[2018-12-06 01:30] coreydaley commented on #111
@cuppett This should be a quick change if you can get me the specs.

[2018-12-06 11:59] cuppett commented on #111
UUID would absolutely be the most unique way to tackle this. However, it provides a while lot of uniqueness and not a lot of insight when scanning an account's bucket list or seeing it referenced in an audit trail. A more common approach is to incorporate a common name, the account number, region and a pinch of randomness.

So instead of a bucket name like:

3eee4f9b-589c-4c88-9967-6cbd7c2691f7

W

[2018-12-06 15:50] coreydaley commented on #111
@cuppett The bucket name already starts with "image-registry-"
I will add your other suggestions

[2018-12-06 16:12] coreydaley commented on #111
It seems that the bucket name can only be 63 characters long.

[2018-12-07 20:11] #111 closed

[2018-12-11 00:53] coreydaley opened #115 "Image Registry Operator reporting it's status to the wrong resource?"
If I run "oc get ImageRegistry -o yaml", I see the Image Registry Operator status conditions such as

[code]

But shouldn't these be reported in the ClusterOperator resource?
When I run "oc get ClusterOperator" i see the status for the other operators (including the Samples Operator).  And when I run "oc get ClusterOperator -o yaml" I see similar conditions to what we have in our ImageRegistry res

[2018-12-11 02:17] bparees commented on #115
You're correct that available, progressing, and failing should be getting reported on an instance of ClusterOperator, that is what @legionus owns in https://github.com/openshift/cluster-image-registry-operator/issues/75

At one point the operator was updating those conditions on
oc get clusteroperators.operatorstatus.openshift.io -n openshift-image-registry

but it looks like it is not doing that

[2018-12-11 03:47] coreydaley commented on #115
Thanks for the clarification, closing this issue.

[2018-12-11 03:47] #115 closed

[2018-12-11 15:02] #42 closed

[2018-12-11 16:00] dmage commented on #94
For generators this is fixed by #112.

[2018-12-11 16:51] dmage commented on #73
Fixed by #112.

[2018-12-11 16:51] #73 closed

[2018-12-13 14:40] #94 closed

[2018-12-14 20:45] bparees commented on #75
it's gone from clusteroperator.operatorstatus.openshift.io, but it's not being created in clusteroperator.config.openshift.io:

[code]

[code]

This is why I wanted a test :)

[2018-12-14 21:12] bparees commented on #75
I see two issues, working on it.

[2018-12-15 01:53] #75 closed

[2018-12-17 15:14] jhadvig opened #125 "Extract 'testframework' into openshift/library-go"
We want to reuse the [testframework](https://github.com/openshift/cluster-image-registry-operator/tree/master/pkg/testframework)  for our the [console-operator](https://github.com/openshift/console-operator) e2e tests. Is there any plan to refactor and extract it into https://github.com/openshift/library-go ?

[2018-12-17 16:06] bparees commented on #125
Not any time soon. We need to be able to move faster right now than that
would allow.

Ben Parees | OpenShift

On Mon, Dec 17, 2018, 10:14 Jakub Hadvig <notifications@github.com wrote:

[2018-12-17 20:29] bparees opened #126 "clusteroperator condition message improvements"
slack exchange:

This came from https://github.com/openshift/cluster-samples-operator/issues/69

so see that issue for additional discussion.

[2018-12-18 22:17] gabemontero commented on #126
If you read between the lines with https://github.com/openshift/cluster-version-operator/blob/master/docs/dev/clusteroperator.md#conditions .... it is mandating enough version maintenance to deal with release to release migration, as it highlights situations when you operator's current status reflects what was done at at say 4.0.0, but your operator's image payload is now 4.0.1, it has triggered a

[2019-01-02 15:42] coreydaley opened #128 "AWS S3: Abort incomplete multipart uploads"
Configure the S3 bucket to abort multi-part uploads by default when we create the bucket

https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html#mpu-abort-incomplete-mpu-lifecycle-config

https://bugzilla.redhat.com/show_bug.cgi?id=1662132

[2019-01-02 22:08] #79 closed

[2019-01-02 22:08] #99 closed

[2019-01-03 05:36] #128 closed

[2019-01-03 22:31] bparees opened #134 "unncessary updates to the CR"
This code:

https://github.com/openshift/cluster-image-registry-operator/blob/6e2fee7776e3fc671cc90fe783000095e6927fad/pkg/resource/generator.go#L233-L248

means that we are ultimately going to update the CR even if we haven't necessarily changed the CR itself as part of an event loop (we may have only updated a secondary resource).

Every time we update the CR, we trigger an event that sends us b

[2019-01-03 22:31] bparees commented on #134
/cc @coreydaley @dmage @legionus

[2019-01-04 13:05] dmage commented on #134
For the custom resource we can use the same approach as we use for other resources: check if the resource from the lister matches the expected state.

[2019-01-07 21:11] derekwaynecarr opened #138 "registry-ca-hostmapper should run on linux only nodes"
similar to the following:
https://github.com/openshift/cluster-dns-operator/pull/67/files

cc @mrunalp

[2019-01-07 21:19] bparees commented on #138
@mrunalp @runcom you guys own the daemonset definition at this point:
https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/resource/nodecadaemon.go#L20

[2019-01-07 21:22] mrunalp commented on #138
Yeah we will take care of this.

[2019-01-07 21:22] mrunalp commented on #138
I will make a PR.

[2019-01-08 01:27] bparees opened #140 "operator is hotlooping when s3 storage is configured"
Evidenced by the quickly scrolling list of events being handled in the operator log.  Changing to emptydir storage stops the hotloop.

[2019-01-08 01:29] bparees opened #141 "rename registry operator resources"
We settled on:
resource name: config(s)
groupname: imageregistry.operator.openshift.io
resource instance name: instance

[2019-01-08 01:30] #125 closed

[2019-01-08 01:32] bparees commented on #29
we're now publishing this information (internalhostname anyway) to the image clusterconfig object.

the default hostname should be published there as well, when it is defined.

[2019-01-08 02:37] coreydaley commented on #140
Looks like #137 will cut the requests in half (or a little more).  That should help for now but probably still requires a bit more digging after that pr merges.

[2019-01-08 03:35] bparees commented on #140
yeah this is not about how many requests are being made for a given event. it's about the operator being in a continuous loop of:

0) get event for something being updated
1) update something (likely the CR)
2) goto (0)

[2019-01-08 03:36] coreydaley commented on #140
Just sent you an email ;)

[2019-01-08 04:56] #138 closed

[2019-01-08 23:58] coreydaley commented on #140
This was fixed by #137

[2019-01-08 23:58] #140 closed

[2019-01-10 03:13] #141 closed

[2019-01-11 01:09] vrutkovs opened #148 "Operator crashes when storage backend cannot be detected"
Seems #58 is back, seeing this on BYOR control plane cluster, no cloudprovider set:
[code]

[2019-01-11 01:21] coreydaley commented on #148
Looks like it's happening right here: https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/operator/bootstrap.go#L128

@bparees
What should we do if driver is nil here? https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/operator/bootstrap.go#L122

[2019-01-11 19:33] coreydaley opened #151 "Organize tests in test/e2e into well defined packages"
Test timeouts (default of 10 minutes) are applied on a per package basis.  If we organize the tests into proper packages we can go back to using the default timeout.

[2019-01-11 19:35] bparees commented on #151
until one of the packages gets big enough to need a larger timeout by itself.

[2019-01-11 19:36] coreydaley opened #152 "Refactor storage driver(s) to use SyncStorage function"
Drivers should use a SyncStorage function to determine what action to take (create, update, remove) based on the requested storage (spec) and current storage (status).

[2019-01-12 02:44] #148 closed

[2019-01-15 19:14] gustavonalle opened #157 "Usage question"
Guess it's more a clarification request than an issue or bug, but how does the internal pods manage to pull images from the registry?

I have a situation where I installed the registry operator, I can push and pull images from outside openshift, but when I try ```oc new-app namespace/image``` the pods simply cannot pull the image from the registry.
First there is a certificate error (Unknown issue

[2019-01-15 19:17] bparees commented on #157
Yes, this operator must be used in conjunction with a 4.0 cluster installed by the new openshift installer, there are other required pieces that are managed by other operators. We are not going to support use cases where you manually deployed this operator in a cluster.

[2019-01-15 19:17] #157 closed

[2019-01-16 03:36] coreydaley commented on #134
@dmage can you point me to some existing code that is doing that in the operator?

[2019-01-16 03:46] coreydaley commented on #134
@dmage nevermind, found it

[2019-01-16 10:17] dmage commented on #151
Having different packages will eliminate TestMain, i.e. the entry point that can prepare environment (disable CVO for our operator, for example).

[2019-01-16 10:18] dmage commented on #152
can SyncStorage be refactored into generators?

[2019-01-16 14:52] bparees commented on #152
on the surface i like this idea.

[2019-01-16 14:53] bparees commented on #151
Well, unless we put a TestMain in every package, right?

(it can even wrapper a shared implementation so they are kept in sync)

[2019-01-16 15:01] dmage commented on #151
Yes, we can put in in every test. Maybe it's better approach.

[2019-01-16 16:34] bparees opened #160 "encryption being applied to user provided buckets"
based on this:

https://github.com/openshift/cluster-image-registry-operator/blob/7f6ffaf58e512d193e8de4d683783921f59f3797/pkg/storage/s3/s3.go#L365-L377

it looks like we apply our own encryption settings to the s3 bucket even if the bucket was supplied by the user, even if the bucket already existed.  This means a user can't provide their own s3 bucket w/ their own encryption settings.

[2019-01-16 17:32] pierreozoux opened #161 "Support user KMS key"
As a cluster operator in an enterprise env, I'm required to encrypt all the things.

It would be nice if I could supply my own kms key.

[2019-01-16 17:40] bparees commented on #161
@pierreozoux can you open this as a formal RFE so we can track it properly?  we are using github issues just for very lightweight items.

[2019-01-17 01:55] coreydaley commented on #160
@bparees
Do we want to skip the [tagging](https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/storage/s3/s3.go#L339-L363) and the [bucket lifecycle configuration](https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/storage/s3/s3.go#L388-L417) (cleanup incomplete multipart uploads) also if we did not create the bucket?

[2019-01-17 02:44] bparees commented on #160
Yeah i think that makes sense. If they just named it and we created it, we should do those things. But if the bucket was not created by us, don't touch it.

[2019-01-17 14:52] #160 closed

[2019-01-17 16:44] pierreozoux commented on #161
Should I open a RedHat support case? Or what is this RFE, is it on the coreos Jira? Or RedHat bugzilla? (I'm a bit confused, and that's why I thought GitHub would be the best place)

[2019-01-17 17:00] bparees commented on #161
Going through a support case is best(and support can then open the RFE), that way the RFE is tied to a specific customer request which helps w/ prioritization.

That said, our support team may be slightly confused when you ask for an RFE against an unreleased product :)  You can point them to this issue discussion.

I will also say we may choose not to implement this...  basically i'd expect your

[2019-01-22 08:50] pierreozoux commented on #161
Sounds good :) I'll close this issue then!

[2019-01-22 14:09] bparees commented on #161
actually @coreydaley understood this RFE better than I did and I now understand why we still need support on our side for KMS keys.  Corey is implementing the support here:
https://github.com/openshift/cluster-image-registry-operator/pull/166

[2019-01-28 16:01] vrutkovs opened #173 "InvalidAccessKeyId error during upgrade"
Image registry operator works fine after cluster is setup, but broken after upgrade:

* `oc get clusteroperator cluster-image-registry-operator -o yaml`:
[code]
* image-registry pods are being restarted frequently, so builds fail with HTTP 500

[2019-01-28 16:15] bparees commented on #173
possibly a problem w/ the credentials minter deleting the creds it gave us?

[2019-01-29 15:29] hongkailiu opened #175 "Is it supported to use PVC as registry storage?"
Is it supported to use PVC as registry storage on OCP 4 like OCP 3?
How do we set it up if yes?

By default, the registry uses s3 on aws.

[code]

Thanks.

[2019-01-29 15:53] coreydaley commented on #175
There is a currently a pull request open to support PVC as storage: https://github.com/openshift/cluster-image-registry-operator/pull/174

[2019-01-29 15:58] bparees commented on #175
Jira ticket: https://jira.coreos.com/browse/DEVEXP-203

[2019-01-29 15:58] #175 closed

[2019-01-29 18:14] smarterclayton commented on #173
hot looping bad1!!!!!!

[2019-01-29 18:47] bparees commented on #173
so @coreydaley there are two issues:

1) why did the key become invalid (was the existing key removed during the upgrade?  was the key changed as part of the upgrade and the new key isn't valid?)  Guessing this is related to credential minting.

2) why are we hotlooping on the access failure.

[2019-01-29 19:10] coreydaley commented on #173
@sjenning What does your config look like?
`oc get configs.imageregistry.operator.openshift.io -o yaml`

[2019-01-29 20:49] bparees commented on #173
/cc @dgoodwin

sounds like all of this is caused by bad minted creds (and/or creds being updated when they should not be)

[2019-01-29 20:52] coreydaley commented on #173
It looks like the initial set of credentials was correct and the storage was created, tagged, etc, then on the resync they were incorrect (according to the config & conditions)

[2019-01-29 21:14] dgoodwin commented on #173
The cred minter logs show successfully created the secret, and then on the next sync it says the secret does not exist. Could anything else be deleting that secret?

[2019-01-29 21:30] coreydaley commented on #173
@dgoodwin I'm checking to see if anything in the operator might be deleting it.

[2019-01-30 12:11] dgoodwin commented on #173
From the logs I got it appears it's happening for all three creds the operator manages, so unlikely anything in the operator. Will be filing an issue this morning with everything I can come up with. I don't immediately know how to fix a hotloop that creates a secret, resyncs, and then can't see the secret it created, which appears to be what happened. I am curious if anything else was in trouble i

[2019-01-30 14:59] bparees commented on #173
@dgoodwin ok, please link the issue you open once you do so, i intend to close this one in deference to that.

[2019-01-30 15:22] dgoodwin commented on #173
https://github.com/openshift/cloud-credential-operator/issues/24

[2019-01-30 15:30] #173 closed

[2019-02-04 15:26] #151 closed

[2019-02-04 15:44] bparees commented on #151
@coreydaley what's the basis for closing this?

[2019-02-08 04:13] #161 closed

[2019-02-08 16:22] sjenning opened #197 "operator does not upgrade node-ca daemonset"
During upgrade testing, the `node-ca` daemonset is not upgraded.

[code]
@derekwaynecarr @smarterclayton @bparees

[2019-02-08 16:42] bparees commented on #197
what's the IMAGE env on the registry operator showing?

[2019-02-08 16:45] bparees commented on #197
i think i see the issue

[2019-02-09 14:42] #197 closed

[2019-02-11 15:32] dmage commented on #134
Fixed by #192.

[2019-02-11 15:32] #134 closed

[2019-02-14 00:00] bparees opened #200 "use a status subresource on the registry operator resource"
I thought we'd already done this..is there a reason the registry resource doesn't define and use a Status subresource?

[2019-02-14 00:00] bparees commented on #200
/cc @coreydaley @legionus @dmage

[2019-02-14 11:32] dmage commented on #200
The problem was with the "modified" flag, it was hard to understand what was updated: Spec or Status. Today it should be pretty straightforward.

[2019-02-16 02:07] bparees opened #206 "registry memory resource limit test is flaking"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/203/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws-operator/1079/

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/203/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws-operator/1073/

[2019-02-16 02:11] bparees commented on #206
on top of that we default the deployment pod spec template resources to 256Mi, so it should literally never be zero.  Perhaps something weird going on at an admission level w/ the api server, @openshift/sig-master  ?

[2019-02-16 02:16] bparees commented on #206
well i take that back.  we set a request value by default and that shows up, but the limit value we set in the test is what intermittently does not show up.  Perhaps we are sometimes finding the old pod.

[2019-02-16 05:51] #206 closed

[2019-02-25 16:00] dmage opened #214 "Write tests for AdditionalTrustedCA"
Recently we had a regression (#205). We need to have a test for AdditionalTrustedCA to avoid such regressions in the future.

[2019-02-25 17:53] #152 closed

[2019-02-25 18:11] adambkaplan commented on #214
In origin we have unit tests for the sync of the CA content for the build controller: https://github.com/openshift/origin/blob/master/pkg/build/controller/build/build_controller_test.go#L1244.
We may be able to go a step further and add an operator e2e test that verifies the registry has the correct configuration loaded.

Full e2e is impossible without spinning up a separate registry.

[2019-02-25 23:45] bparees opened #216 "don't use GC for PVC cleanup"
I'm removing most of our GC usage here:
https://github.com/openshift/cluster-image-registry-operator/pull/215

but I don't want to get into the PVC logic.  Right now it appears to be using GC to ensure the PVC gets removed when the CR is removed.  That won't work because the CR is cluster-scoped and GC can't span namespaces.  The PVC needs to be cleaned up via finalization.

[2019-02-25 23:45] bparees commented on #216
/assign @legionus

[2019-02-25 23:49] bparees commented on #216
looks like the PVC should already be cleaned up by the finalizer, so we can just drop the ownerref.  I've done so in https://github.com/openshift/cluster-image-registry-operator/pull/215

[2019-02-26 07:10] #200 closed

[2019-02-26 09:16] legionus commented on #216
@bparees I use the ownerref in PVC not for GC. I need to detect that PVC was not created by the operator. It seems to me wrong to create a new field in the CR status when for this purpose we have an ownerref already.

[2019-02-26 14:54] bparees commented on #216
as far as i know, you can't have an ownerref w/o it being used for GC.  If you create an ownerref, GC will attempt to follow that ownerref and GC you if it does not exist.  And when that ownerref points to a clusterscoped resource, the results are indeterminate.

So unless i'm wrong, you can't use it that way and you'll have to introduce an annotation in the same way that I did for routes.

[2019-02-26 15:02] legionus commented on #216
@bparees as you wish.

[2019-02-26 15:21] bparees commented on #216
Does it make sense why we cannot use ownerrefs here?

[2019-02-26 15:29] legionus commented on #216
@bparees Yes, it doesn't make sense to me, but I can handle it. PR is ready.

[2019-02-26 16:24] #216 closed

[2019-02-26 21:11] coreydaley opened #221 "TestAWSUnableToCreateBucketOnStartup InvalidAccessKeyId errors during tests"
message: "Unable to apply resources: unable to sync storage configuration: InvalidAccessKeyId:
		      The AWS Access Key Id you provided does not exist in our records.\n\tstatus
		      code: 403, request id: 9F7CF2E209519A53, host id: KmxOvvgpisxuwNCxf8xm3HQSKHryoECU6n10p2YUQBiW3sytZYtUmny006BW5ypF47nYQTzVSzE="
		    status: "True"

[2019-02-27 03:52] bparees commented on #221
seen here:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/222/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws-operator/1199/

[2019-02-27 03:53] bparees opened #223 "TestCustomPVC test timeout flake"
seen in https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_cluster-image-registry-operator/222/pull-ci-openshift-cluster-image-registry-operator-master-e2e-aws-operator/1205/

[code]

[2019-02-27 03:53] bparees commented on #223
/assign @legionus

[2019-02-27 14:51] bparees commented on #221
I am disabling this test in https://github.com/openshift/cluster-image-registry-operator/pull/222/commits/fe0ec949846cfe03c2d125174126cfa4c5048a01 so we can unblock our queue.  Please fix+reenable the test asap.

[2019-02-27 14:51] bparees commented on #223
I am disabling this test in https://github.com/openshift/cluster-image-registry-operator/pull/222/commits/fe0ec949846cfe03c2d125174126cfa4c5048a01 so we can unblock our queue.  Please fix+reenable the test asap.

[2019-02-27 14:54] legionus commented on #223
@bparees I only can increase timeout. I can not fix it.

[2019-02-27 14:57] bparees commented on #223
can you elaborate on that?  What happens when the test flakes?  Anyway increasing the timeout is fine if it gets us to 99% passing instead of what we currently have which is around 50% passing.

[2019-02-27 15:07] legionus commented on #223
@bparees We made the PersistentVolumeClaims and we have **available** PersistentVolume that fits the requirements. Sometimes kube binds them up while waiting, sometimes not. I can not guarantee that after an hour of waiting it will happen. This is out of my control.

[2019-02-27 15:08] bparees commented on #223
Please talk to the storage team, because that does not make sense to me.  If there is an available PV that fulfills the PVC, it should get bound.  Why would it not, other than a bug in storage?

Also if you look at the run I pasted, the PVC is reported as "pending" (which i believe means claimed?), yet the test failed.

[2019-02-27 15:12] legionus commented on #223
@bparees "pending" means it waiting for PV.

[2019-02-27 15:49] jsafrane commented on #223
Storage team here. I don't see anything wrong with your PV/PVC, it should bound in reasonable time (15-20 seconds max).

Can you reproduce it reliably? Can you get kubernetes controller-manager logs with log level 5?

[2019-03-01 12:52] dmage commented on #223
We found the problem:
[code]

[2019-03-01 13:56] bparees commented on #223
Nice, any idea how it ever passed then?

[2019-03-01 14:10] jsafrane commented on #223
We changed the default storage class to `WaitForFirstConsumer` just few days ago. And
ci/prow/e2e-aws tests passed there.

[2019-03-01 15:28] #223 closed

[2019-03-02 01:09] bparees opened #228 "wrong creds log message"
this is logging the wrong namespace:
https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/clusterconfig/clusterconfig.go#L123

[code]

it's not looking in kube-system, it's looking in openshift-image-registry.

probably worth double checking others as well.

[2019-03-04 17:38] coreydaley commented on #228
Closed via #229

[2019-03-04 17:38] #228 closed

[2019-03-04 21:12] bparees opened #231 "enable must-gather object refs"
If the clusteroperator defines object refs, the must-gather tool can automatically collect relevant resources/logs/etc from the references objects/namespaces.  See:

https://github.com/openshift/cluster-openshift-controller-manager-operator/pull/76/files#diff-ef02f4dd56d4bd19d7b3e4913b9a57d5R82

This operator should be updated to define appropriate object references.

/cc @dmage @adambkaplan

[2019-03-04 21:19] stevifrost opened #232 "License"
Does a license apply to this repo? I am unable to locate the license.  If not, would you be willing to add a permissive license?

[2019-03-04 21:29] bparees commented on #232
I'd consider it to be under the same license as openshift origin itself:
https://github.com/openshift/origin/blob/master/LICENSE

/assign @dmage

[2019-03-04 21:37] stevifrost commented on #232
Great - thank you!

[2019-03-08 18:37] #232 closed

[2019-03-14 12:16] dmage commented on #231
https://jira.coreos.com/browse/DEVEXP-297

[2019-03-14 12:16] #231 closed

[2019-03-14 23:02] #221 closed

[2019-04-10 15:42] dmage opened #250 "generate ClusterOperator's conditions using CR's conditions"
When we cannot update ClusterOperator's conditions, we log error and basically ignore it. It may cause inconsistent conditions on our resources.

/assign @legionus

[2019-04-11 13:58] dmage opened #251 "unable to stop kube apiserver operator: timed out waiting for the condition"
[code]
/kind test-flake

[2019-04-11 14:01] dmage commented on #126
The messages were improved by #246.

[2019-04-11 14:01] #126 closed

[2019-04-15 17:56] openshift-merge-robot opened #254 "Future Release Branches Frozen For Merging | branch:release-4.10 branch:release-4.9"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.10`
 - `release-4.9`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J

[2019-04-16 14:47] adambkaplan opened #256 "[api-freeze] Verify operator API is frozen"
*Backwards compatibility of GA APIs*

What constitutes a backwards compatible API?

1. Fields can not be removed (this also means you can’t rename a field)
2. Serialized defaults can not change.  Unserialized defaults in operators can change over time.
3. Behavior (meaning) of a field can not change.  This means that old fields must be maintained even if new fields supercede them.
4. New fields ca

[2019-04-16 16:17] adambkaplan commented on #256
@dmage there are a few areas of concern with the API:

1. A TODO regarding the "Removed" status type: https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/apis/imageregistry/v1/types.go#L49-L51
2. Storage types for Azure, GCS, and Swift/OpenStack are present. These won't be ready for GA until 4.2 at minimum. https://github.com/openshift/cluster-image-registry-operator/blob/

[2019-04-17 12:11] dmage commented on #256
Moved to https://bugzilla.redhat.com/show_bug.cgi?id=1700487

[2019-04-17 12:11] #256 closed

[2019-04-23 19:46] adambkaplan opened #261 "Use bindata to populate operand defaults"
Consider using `go-bindata` to load templates of the components managed by the cluster-image-registry-operator. This is a common practice amongst other OpenShift core operators - e.g. [ocm-o](https://github.com/openshift/cluster-openshift-controller-manager-operator/tree/master/bindata/v3.11.0/openshift-controller-manager).

Not required for 4.1

[2019-04-24 09:59] dmage commented on #261
Which generator do you want to replace with a static file?

[2019-04-24 15:59] #250 closed

[2019-04-25 19:27] adambkaplan commented on #261
If we choose to go down this path (and I'd argue this is lower-priority tech debt), I'd start with the resources that aren't impacted by the operator config, such as RBAC, the internal service, etc.

Downside is this introduces dual paths for implementing the same behavior if say the Deployment needs the generator.

[2019-04-29 07:25] angry-tony opened #270 "is it possible to add "app Item" to Catalog???"
Hello! all..

is there way to add "customized Item"  and see it on "Developer Catalog" in Openshift 4??
( openshift 3 can do it using "ASB + APB + local registry" )

**like below...**
![image](https://user-images.githubusercontent.com/18000837/56705270-3f141680-674b-11e9-9ebf-9dc2e503461d.png)

[2019-04-29 13:28] bparees commented on #270
items that show up in the developer catalog are:
1) imagestreams in the openshift namespace that have the builder tag
2) templates in the openshift namespace *if* you have the service catalog enabled(it's not on by default) and the template service broker installed(it's not installed by default).
3) installed OLM operators

i'm not sure what sort of customized item you're trying to add so it's har

[2019-04-29 13:28] #270 closed

[2019-05-29 11:50] #214 closed

[2019-06-24 09:13] jichenjc opened #303 "[openstack] should not use hard code 'openstack' cloud"
/bug

https://github.com/openshift/cluster-image-registry-operator/blob/52dfda7/pkg/clusterconfig/clusterconfig.go#L194

made assumption that the 'openstack' cloud is in cloud defintion but that's not always true and lead to https://github.com/openshift/installer/pull/1858 having issue in pass CI test

[2019-06-24 11:03] mandre commented on #303
cc @Fedosin

[2019-06-25 20:31] adambkaplan commented on #303
@jichenjc can there be more than one entry in the clouds.yaml map? If so, which one should the registry choose?

[2019-06-26 02:44] jichenjc commented on #303
@adambkaplan yes, that's possible, it's asked when doing install config here:
https://github.com/openshift/installer/blob/master/pkg/asset/installconfig/openstack/openstack.go#L28
and it should be stored in manifests/cloud config as well...

[2019-06-26 14:12] adambkaplan commented on #303
@abhinavdahiya @wking can admins specify more than one cloud for IPI or UPI installs? If yes, where should the registry provision storage?

[2019-06-26 14:37] abhinavdahiya commented on #303
No, the admins can only choose one platform.

[2019-06-26 23:56] jichenjc commented on #303
from my test , user can have a clouds.yaml, and it can contains more than 1 cloud and install process (install-config) will ask for which one to select to install cluster onto and it's not always `openstack`
@adambkaplan

[2019-06-27 00:22] abhinavdahiya commented on #303
I think you need to clearly distinguish between platform ie AWS, Azure, OpenStack and OpenStack specific cloud value while I think you are talking about...

[2019-06-27 00:29] jichenjc commented on #303
you are right @abhinavdahiya ,that's the reason why I mark the issue's title as [openstack]... thanks for pointing that out ,and yes, it's openstack only

[2019-06-27 11:33] dmage commented on #303
Should we use the installer config to get the cloud name?

[2019-06-27 23:40] jichenjc commented on #303
I think conceptually yes, but I might need more time if I did into code and find how to fix it :)

[2019-07-08 13:25] ppitonak opened #317 "[openstack] include cluster ID in swift container name"
Installer prefixes all OpenStack resources with unique cluster ID (such as `clustername-qbmkc`), including the Swift container with ignition files.

As an OpenStack admin, it is difficult to quickly identify which cluster uses container such as `image_registry_PMJWOBLNPFHJVTGJ`, I would prefer something like `clustername-qbmkc_image_registry_PMJWOBLNPFHJVTGJ` instead.

The function generating name

[2019-07-12 14:02] adambkaplan commented on #303
@jichenjc are we still blocking https://github.com/openshift/installer/pull/1858?

We need resolution as to which cloud provider config to choose, or should we fail if the clouds.yaml file has more than one entry?

[2019-07-12 16:02] jichenjc commented on #303
yes, I think we do, I am not expert in this area so I don't know whether we can get the value from somewhere to use given cloud, if we really can't , then only accept only cloud might works but seems not that good to me... thanks

[2019-07-12 17:18] adambkaplan commented on #303
@abhinavdahiya @Fedosin @openshift/openshift-team-installer can you weigh in please?

[2019-07-15 13:52] dmage commented on #303
As we moved away from the installer config, we need to have the cloud name in the Infrastructure resource: openshift/installer#1986

[2019-07-19 22:14] #303 closed

[2019-07-25 22:12] coreydaley opened #330 "Swift test missing AssertNoErr, throws error if added"
It looks like this section of code (https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/storage/swift/swift_test.go#L630-L638) is missing a th.AssertNoErr.  It looks like all of the others have it and that this is an omission, but if the th.AssertNoErr is added, the test fails with "Incorrect Auth URL", at that point the variable `path` equals /v/3/

Ran into this while de

[2019-07-25 22:12] coreydaley commented on #330
@Fedosin Could you please take a look at this test and see what it should do here?

[2019-07-25 22:23] dmage commented on #330
@coreydaley this case tests asserts `err != nil`, i.e. it expects to get an error.

[2019-07-25 22:51] coreydaley commented on #330
Doh, thanks!
/close

[2019-07-25 22:51] #330 closed

[2019-08-07 15:21] #317 closed

[2019-08-08 09:23] mjudeikis opened #358 "registry fail to start (4.2-2019-08-08-070705)"
Registry fails to start after nightly build on azure

[code]

[code]
Logs:
[code]

/kind bug

[2019-08-08 12:58] bparees commented on #358
Any reason not to open this as a proper bz? That will get it prioritized
and tracked more effectively.

Ben Parees | OpenShift

On Thu, Aug 8, 2019, 05:23 Mangirdas Judeikis <notifications@github.com>
wrote:

[2019-08-09 20:19] coreydaley opened #361 "Setup golangci-lint"
https://github.com/golangci/golangci-lint

[2019-08-12 23:48] #358 closed

[2019-08-15 14:04] dmage commented on #251
I haven't seen it for a while.

[2019-08-15 14:04] #251 closed

[2019-08-28 12:53] russellb opened #375 "Default to Removed for bare metal infrastructure platform"
This is a todo item from discussion in #332

We currently default to emptyDir for the bare metal infrastructure platform.  This allows a successful install, but assumes the registry will be re-configured post-install before use.

Once the image registry operator can be bootstrapped in a `Removed` state, we should use that instead.  That is a better reflection of the desired state at install time.

[2019-09-23 14:16] nnachefski opened #389 "RFE - Provide a 'storage' option that allows me to set the specific StorageClass for the registry"
I'm deploying Openshift 4.2 pre-release.  For storage, i'm deploying rook-ceph v1.1.1 (csi-cephfs & csi-rbd).  I want to set my rook-ceph-block(rbd) StorageClass to default.  But, csi-cephfs is the only storage that supports RWX (for registry pod).  I need a way to tell the registry operator to use a specific storageclass (not the default).  Right now, i have to do something less elegant to get th

[2019-09-24 09:54] dmage commented on #389
@nnachefski you can create your own PVC in the openshift-image-registry namespace and use its name in `spec.storage.pvc.claim`. Have you tried it?

[2019-09-24 13:16] adambkaplan commented on #389
@dmage I think there may be a larger issue here. If `pvc.claim` is not set, does the registry operator assume the default storage class will provision `RWX` storage? If so, is this assumption true on most providers?

[2019-09-24 14:01] dmage commented on #389
@adambkaplan `RWX` is not an assumption, it is a requirement. The operator doesn't assign any storage classes, there is another component that sets the storage class to our PVC. The storage class isn't the only option than customers may want to change in PVC, there are also storage requests, selectors. And the bootstrapped PVC is read-only and can't be changed, so there is no reason to add parts o

[2019-09-24 14:06] bparees commented on #389
I think @adambkaplan is referring to the case where the operator creates the PVC itself.  When it does so, it sets RWX as required:
https://github.com/openshift/cluster-image-registry-operator/blob/master/pkg/storage/pvc/pvc.go#L132-L134

so i believe we are fine on that front.

[2019-09-26 18:07] gfvirga opened #393 "Disable docker redirect for S3 buckets"
Hello,

I have setup an Openshift cluster with the "4.2.0-0.nightly-2019-09-18-114152" I was able to create a registry using our internal S3 service and it does not error when pushing to the registry, but it errors out while pulling and I was suspecting it is related to the docker redirect https://github.com/openshift/cluster-image-registry-operator/pull/385 is there any work around for this pull

[2019-09-26 18:48] bparees commented on #393
I don't believe it can be disabled currently(without taking the registry out of operator management which means your cluster is unsupported), but it is being fixed.... @dmage @adambkaplan did that change make 4.2.0, or will it be backported to 4.2.x?

[2019-09-26 20:24] adambkaplan commented on #393
#385 will fix, currently in progress

[2019-09-27 07:12] steveteuber commented on #393
You can only work around this issue when you set the `cluster-image-registry-operator` to `unmanaged` and then override the container image in the `cluster-image-registry-operator` deployment.

Setting `cluster-image-registry-operator` to unmanaged:
[code]

Override `cluster-image-registry-operator` container image:
[code]

Disable `redirect` and route all data through the `registry`:
[code]

[2019-09-27 15:12] gfvirga commented on #393
This worked. Thank you very much.

We are looking forward for this fix!

[2019-09-27 15:12] #393 closed

[2019-10-03 14:23] gfvirga opened #397 "AdditionalTrustedBundle not being added to the operator pod"
Hello,

I just installed a 4.1 cluster, but the registry won't build because it can't trust our internal S3 bucket. I setup the "additionalTrustBundle" during the install, but it didn't seem to do anything during the openshift 4.1

$ `oc logs cluster-image-registry-operator-7f8bbdbddc-nmf5d`
E1003 13:51:16.385613       1 controller.go:255] unable to sync: unable to sync storage configuration: Requ

[2019-10-03 14:46] bparees commented on #397
@ricardomaraschini @dmage were there some bugs around how additionalTrustBundle worked in 4.1?

[2019-10-07 15:33] dmage commented on #397
@bparees in 4.2 we added trusted-ca bundles.

@gfvirga did you set `spec.additionalTrustedCA` on the image.config.openshift.io resource?

[2019-10-07 15:41] gfvirga commented on #397
Yes I did and it added to the certificate to the openshift-registry pods, but not the operator pods.
The log I am getting is from "cluster-image-registry-operator"

I opened a ticket with the RedHat support and they said the same thing about trusted-ca bundles being added on 4.2.
We are going to wait until 4.2 is release.

Thank you for checking this out.

[2019-10-07 15:41] #397 closed

[2019-10-07 16:52] bparees commented on #397
@dmage added them to the operator pod?

[2019-10-07 16:53] bparees commented on #397
(this seems like a potentially unsupported scenario anyway since it sounds like they are trying to use an s3-equivalent api for storage, not actual s3, which isn't something we explicitly support or can vouch for, but certainly we shouldn't make it impossible to due to CA limitations)

[2019-10-07 19:53] gfvirga commented on #397
I just doubled checked and the authentication-operator pod did not get the additional trusted bundle, but S3 bucket connector works fine for me.

@bparees, what is the recommended for Registry storage? We currently have Trident Netapp, S3 and vsphere. S3 is our goto choice and I noticed that vsphere storage would not work.

[2019-10-07 19:58] bparees commented on #397
what won't work is having the operator create buckets for you.   if you created your own buckets and just pointed the registry to them, then yeah it makes sense that that would work once you got the right CAs in the registry pod, even if the operator pod doesn't have them.

The only s3 api solution we test with is AWS S3.  We are looking into NooBaa/MCS in the future.

For non-cloud-based options,

[2019-11-12 07:58] testlaben opened #410 "Is this the expected way to go to set up (vendor) swift storage for the registry?"
Currently setting up a 4.2 cluster with IBM Spectrum Scale swift storage.

There seems to be no documentation  or guidelines on how to set this up, but after a fair bit of trial and error; This is what we came up with.

setting up the `image-registry-private-configuration-user` secret with the variables
**REGISTRY_STORAGE_SWIFT_USERNAME** and **REGISTRY_STORAGE_SWIFT_PASSWORD**, and setting
[code]

[2019-11-12 15:13] coreydaley commented on #410
@Fedosin Mike, would you mind taking a look at this issue and see if you see any reason that the user configuration did not work correctly?

[2019-11-12 15:57] bparees commented on #410
@coreydaley @bmcelvee please make sure we have a tracking bug to introduce documentation for this.

[2019-11-12 16:06] dmage commented on #410
@testlaben did the container ocp-lab-container exist before the operator started its work?

[2019-11-13 05:35] testlaben commented on #410
Yes, it was pre-created.

[2019-11-13 11:28] testlaben commented on #410
So the operator does not spam the log with status changes when the object is not pre-created, but still defined in the config! So only when the storage is created beforehand, it will spam the logs.

[2019-11-19 09:33] dmage commented on #410
@testlaben when you use `image-registry-private-configuration-user`, do you have some useful information on conditions of `oc get config.imageregistry.operator.openshift.io -o yaml`?

[2019-12-14 17:09] nnachefski commented on #389
Could something similar be done like with the Prometheus stack?  It uses a config map to configure the cluster-monitoring operator.

Ex:

apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    prometheusK8s:
      volumeClaimTemplate:
       spec:
         storageClassName: rook-ceph-block
         resources:

[2019-12-15 00:07] bparees commented on #389
we generally have a preference for first class config apis (CRDs) over configmaps that are harder to validate, provide api documentation for, and enforce rbac rules around.

[2020-01-17 17:00] dmage commented on #261
Fixed by #436.

[2020-01-17 17:00] #261 closed

[2020-01-17 17:02] dmage commented on #375
Closed by #392.

[2020-01-17 17:02] #375 closed

[2020-02-08 15:05] dsong1914 opened #456 "Upgrade error: Unable to apply 4.2.16: the cluster operator image-registry has not yet successfully rolled out"
My cluster upgrade from 4.2 (on VMware) to 4.2.16 failed due to an error with image-registry.  The status of image-registry has been 'updating' for 2 days.  Is this a known bug?  Is there any workaround?  How can I revert its status back to 'available'?

[2020-02-08 17:27] bparees commented on #456
Can you provide the full yaml for the registry cluster operator object?

Most likely a registry pod is failing to roll out. You might look at the
state of the deployments and pods in the registry namespace also.

Ben Parees | OpenShift

On Sat, Feb 8, 2020, 10:06 dsong1914 <notifications@github.com> wrote:

[2020-02-09 03:10] dsong1914 commented on #456
One pod under registry namespace is still 'pending' (image-registry-fb9bbcb55-cm2ph).  Attached is the yaml.

[pod-image-registry-fb9bbcb55-cm2ph.txt](https://github.com/openshift/cluster-image-registry-operator/files/4176432/pod-image-registry-fb9bbcb55-cm2ph.txt)

[2020-02-09 03:13] bparees commented on #456
[code]

seems like an issue w/ your PVs + registry storage configuration.

[2020-02-09 03:14] bparees commented on #456
(note that deleting registry storage is a bad idea as it means you'll lose all your image blobs, though the image metadata will continue to exist in the form of imagestream resources, meaning your metadata will be out of sync w/ your image storage).

[2020-02-09 03:27] dsong1914 commented on #456
Yes but I think it is supposed to restart as part of the upgrade process (I didn't delete it), but it's stuck in 'terminating' status (see below).

NAME                     STATUS        VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
image-registry-storage   Terminating   pvc-d7f1fb46-3d6b-11ea-8ae0-005056a5166d   100Gi      RWX            csi-cephfs     17

[2020-02-09 03:33] bparees commented on #456
do you have only a single registry pod replica instance?  (the one that's stuck)?

if you oc describe the PVC and also look at it's yaml, can you determine why it is stuck in terminating?  i would not have expected the PVC to be deleted as part of an upgrade.

[2020-02-09 03:48] dsong1914 commented on #456
Yes there is one replica instance.  Attached is more info about the pvc...

[oc describe pvc.txt](https://github.com/openshift/cluster-image-registry-operator/files/4176456/oc.describe.pvc.txt)
[image-registry-storage pvc yaml.txt](https://github.com/openshift/cluster-image-registry-operator/files/4176457/image-registry-storage.pvc.yaml.txt)

[2020-02-09 14:59] dmage commented on #456
@dsong1914 you are about to loose your registry data. PVC can't be deleted while you have a running pod. The old pod won't be deleted until a new one is available. And the new pod can't be created because PVC is marked for deletion.

Do you know what was going on at this time?

[2020-02-09 15:27] dsong1914 commented on #456
@dmage I'm not sure what happened then.  Is there a way to terminate it and create a new one using the replica?

[2020-02-10 15:40] dmage commented on #456
@dsong1914 so the PVC is marked for deletion (perhaps someone used `oc -n image-registry delete pvc image-registry-storage`) and you cannot undo it. You can use the next steps to recover from this situation:

1. backup data from the PV `pvc-d7f1fb46-3d6b-11ea-8ae0-005056a5166d`, it should be accessible through the running registry pod (should be mounted to `/registry`).
2. set `replicas: 0`, it sh

[2020-03-06 21:59] slauger opened #485 "Support for third party S3 implementations"
Hi,

it would be great if the cluster-image-registry-operator would support third party implementations of the S3 protocol (e.g. via https://github.com/minio/minio). This would allow users to use their own S3 service instead of AWS.

This would be particularly helpful in isolated (enterprise) environments (e.g. VMware vSphere does not provide a RWX storage).

[2020-03-09 15:44] adambkaplan commented on #485
@slauger technically anyone can supply their own S3 configuration - as long as the AWS credentials are set in the user private config [1], and the bucket, region, and custom region endpoint are set on the operator config [2] any "S3 complaint" storage solution could be used.

Today AWS S3 is the only storage backend that we use to test the S3 storage options.

[1] https://github.com/openshift/clus

[2020-03-10 10:01] slauger commented on #485
Hi @adambkaplan,

thanks for your hint. That was very helpful. I guess using a S3 compliant storage for the registry (on a VMware vSphere installation) is highly unsupported by RedHat?

Anyways, I have a customer with a S3 storage solution based on Ceph (via Object Gateway). I'll try to connect the registry to it and see what happens.

[2020-03-10 10:58] dmage commented on #485
@slauger I wouldn't say that it's "highly unsupported". If your storage is S3-compatible (is supported by aws-sdk-go), it should work. If it doesn't, feel free to open bugs.

That said, we can't guarantee that your storage will work nicely with the image registry. We didn't test it and in the past there were "S3-compatible" storages that had problems with aws-sdk-go.

[2020-03-10 12:36] tux-o-matic commented on #389
How is RWX a requirement when for years Docker said not to use NFS (commonly used RWX backend) at the risk of getting a corrupted registry? At least there should be a warning in the doc not to use NFS but CephFS or GlusterFS.

[2020-03-10 12:42] tux-o-matic commented on #485
OCP 4 comes with Noobaa as part of the OCS. So if it's not tested or even working, the documentation should explicitly state: when using OCS for the Registry, use the CephFS storage type and not Noobaa's S3 API.

[2020-03-10 13:05] dmage commented on #389
@tux-o-matic do you have a link where Docker says not to use NFS?

RWX is a requirement to avoid downtime during upgrades. In general, you should use an object storage (S3, GCS, etc.). PVC is an option when you don't have any object storage.

In 4.4 you can provide a RWO volume if you don't need a high available cluster.

[2020-03-10 14:50] adambkaplan commented on #485
@tux-o-matic we do have an R&D item on our backlog to add 1st class support for Noobaa/MCG [1]. Since this feature is still tech preview in OCS 4.2, provisioning Ceph via a PVC is the recommended solution.

[1] https://issues.redhat.com/browse/DEVEXP-506
(note - link may not be fully public)

[2020-03-10 16:33] tux-o-matic commented on #389
@dmage One such [warning in 3.1 doc](https://docs.openshift.com/container-platform/3.11/scaling_performance/optimizing_storage.html#logging)
And another [caution](https://docs.openshift.com/container-platform/3.11/install_config/registry/registry_known_issues.html#known-issue-nfs-image-push-fails)

[2020-03-12 02:46] aizuddin85 commented on #389
@tux-o-matic NFSv3 might have such issue, but I believed NFSv4 already fixed those cache and other issue to make NFS more reliable when RWX mounted on many nodes.

[2020-03-12 08:06] tux-o-matic commented on #389
@aizuddin85 , if that's the case then I think it should be mentioned in the documentation because I believe most people still stuck with NFS in their infrastructure are likely stuck with v3.x

[2020-03-12 08:42] aizuddin85 commented on #389
@tux-o-matic In the documentation it mentioned both. I agree we probably can make it clearer,  caveats between NFSv3 vs NFSv4.

[2020-04-18 14:35] #361 closed

[2020-05-19 15:38] dmage commented on #29
We publish information about all known hostnames to the image.config object.

[2020-05-19 15:38] #29 closed

[2020-05-19 15:57] dmage commented on #389
The expected way to use a custom storage class is to provide your own PVC:
[code]

You can delete the default pvc/image-registry-storage after that if it has been created.

[2020-05-19 15:57] #389 closed

[2020-05-19 16:01] dmage commented on #485
Feel free to open a new issue if the operator doesn't work with a particular S3-compatible implementation.

[2020-05-19 16:01] #485 closed

[2020-05-19 16:02] dmage commented on #456
/lifecycle stale

[2020-05-19 16:02] dmage commented on #410
/lifecycle stale

[2020-07-13 13:20] dmage commented on #410
Feel free to reopen if you still can reproduce it.

[2020-07-13 13:20] #410 closed

[2020-07-13 13:22] dmage commented on #456
Feel free to reopen if you still have this problem.

[2020-07-13 13:22] #456 closed

[2020-07-28 08:43] gyohuangxin commented on #410
I meet similar authentication errors, OCP version: 4.5. Could you give me some comments?

[code]

[2020-07-28 13:34] bparees commented on #410
@gyohuangxin it looks like you need to configure the registry with an appropriate CA that can validate the cert your switft server is using.  However i'm not seeing an obvious way to provide that CA to the registry operator.

@dmage what's the mechanism for configuring CAs needed to talk to storage?  (presumably both the operator and the operand need the CA)

[2020-08-07 16:00] dmage commented on #410
The CA can be provided via clouds.yaml during the installation. It'll be placed by the installer to the openshift-config namespace.

[2020-10-27 14:37] trexx opened #630 "Mounting additionalTrustBundle in the operator."
Since 4.5.x, we've setup our cluster registry to use an internal S3 compatible endpoint for storage over HTTPS signed with our own internal CA.
We have our CAs added to additionalTrustBundle (during install) or the "user-ca-bundle" configmap in openshift-config so any cluster generated CA trust bundle has our CAs inside.
This worked with no problem.

Since upgrading to 4.6, it seems the operator d

[2020-10-27 14:58] dmage commented on #630
@trexx, the CA should be in `/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem`, it should be copied by [the operator's entrypoint](https://github.com/openshift/cluster-image-registry-operator/blob/f0425485bf830e5327a95f2af1fe8eab08115481/images/bin/entrypoint.sh#L9). Can you check this file?

[2020-10-27 15:21] trexx commented on #630
Hi @dmage
Running `diff /var/run/configmaps/trusted-ca/tls-ca-bundle.pem /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem` I can see they are two different files and my internal CA certificates are not in the containers trust store.

[2020-10-27 15:50] dmage commented on #630
That's exciting. What image reference is used by the cluster-image-registry-operator pod?

[2020-10-27 15:59] trexx commented on #630
cluster-image-registry-operator - quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:e2b3f973bc5b9e55d2240a556c4648c921a3c8d3e12381757f1990a864208617

Correction to my original post, I mentioned 4.6, its actually 4.6.1. Sorry.

[2020-10-27 16:22] dmage commented on #630
What are the first lines of the image registry operator's logs? Is there `Overwriting root TLS certificate authority trust store`? Are there any errors from `cp`?

[2020-10-27 16:28] trexx commented on #630
First lines of the logs are:
[code]
I can't see that echo, or any errors from cp.

[2020-10-27 16:38] dmage commented on #630
Is it a new cluster? In theory the operator might be created for the configmap. If you delete the operator's pod, do you see the same logs?

[2020-10-27 16:41] trexx commented on #630
It was an existing 4.5.16 cluster upgrading to a 4.6.1. I've deleted the pod a few times and it results in the same logs.

[2020-10-27 17:30] trexx commented on #630
I'll prep a cluster directly to 4.6.1 to see if that makes any difference and can retry a 4.5.16 to 4.6.1 upgrade again.

[2020-10-28 13:55] themoosman commented on #630
I'm seeing the exact same issue in a fresh 4.6.1 cluster.

[2020-10-29 16:35] dmage commented on #630
I can confirm the problem and have created a bug in Bugzilla for that: https://bugzilla.redhat.com/show_bug.cgi?id=1892799. We'll backport it to 4.6.z. I'm closing this issue in favor of the BZ.

[2020-10-29 16:35] #630 closed

[2020-12-01 14:20] trexx commented on #630
Just to add here, the fix was added in v4.6.6.

[2020-12-01 14:21] themoosman commented on #630
Cool, I just upgraded my test cluster to 4.6.6 last evening.  I'll test it out today.

[2020-12-24 20:14] reavessm opened #649 "Pull from ImageStream in Dockerfile - Authentication Required"
I've been using inline Dockerfiles in build-configs to generate ImageStreams, which is working fine.  I am now trying to build FROM an existing ImageStream in a second Dockerfile, but I am getting errors about Authentication Required.  I would like to know if I am doing something wrong config-wise, if I need to somehow login during the build process, or (what I really want to do) if I can make the

[2020-12-24 20:26] reavessm commented on #649
Update, the second build works with the internal image repository URL (FROM image-registry.openshift-image-registry.svc:5000/gentoo-builder/gentoo:latest) but not from the public image repository (URL from default-route in openshift-image-registry project)

[2020-12-24 22:33] bparees commented on #649
The default pull secret does not include credentials for the external
registry url. The expectation is that you pull images via the internal
service url rather than through the external load balancer, when you are on
cluster.

Ben Parees | OpenShift

On Thu, Dec 24, 2020, 15:26 Stephen Reaves <notifications@github.com> wrote:

[2021-01-21 08:15] webner opened #657 "The s3 storage backend leaks a new https connection every 10 seconds"
Every time s3 is queried (over a https connection) a new Transport object is created which is not automatically garbage collected. This leads to one new established connection every 10 seconds! After some hours/days there are too many connections open and every call to s3 fails.

There is an old open issue in net/http for this here: https://github.com/golang/go/issues/24739

Consider reusing the s

[2021-01-21 10:18] dmage commented on #657
/assign @ricardomaraschini
might be related to https://bugzilla.redhat.com/show_bug.cgi?id=1902091

[2021-01-21 12:37] ricardomaraschini commented on #657
@webner What version have you used to verify this leak?

[2021-01-21 14:16] webner commented on #657
The verified the issue with 4.6.8 and 4.6.12.
[code]

[2021-01-22 15:31] ricardomaraschini commented on #657
@webner The code you mentioned got added 18 days ago through https://github.com/openshift/cluster-image-registry-operator/pull/648 and should be present only from 4.7 on. There must be something else.

[2021-01-25 15:00] webner commented on #657
@ricardomaraschini This referenced line is already in 4.6.
https://github.com/openshift/cluster-image-registry-operator/blob/be99ea05e4a6c527dedfb222e95e5fbef0a57d83/pkg/storage/s3/s3.go#L148
I guess the issue surfaced with an go update or some other change in the operator.

[2021-02-24 15:28] oswcab opened #666 "Question: Is it possible to have more than one instance of the operator deployed in a cluster?"
The use case would be to separate images from different projects and to handle different sets of credentials.

[2021-02-24 15:30] bparees commented on #666
no it is not possible because, among other reasons, the registry uses cluster scoped resources to store metadata about the images it contains.

[2021-02-24 15:31] bparees commented on #666
that said, you can already constrain access to images in the registry based on standard openshift RBAC permissions, such as granting permission by namespace, and you can generate new service accounts for additional cred management.  So you should not need separate instances to achieve that goal, unless i'm not understanding it.

[2021-02-24 16:15] oswcab commented on #666
OK, that answer my doubts. Thanks a lot for your answer.

[2021-02-24 16:15] #666 closed

[2021-03-17 16:20] ricardomaraschini commented on #657
Is your an IPI installation or there is something special about it? I have tried again to reproduce this but I could not:

[code]

[2021-03-25 09:20] ricardomaraschini commented on #649
An update on this one. We have recently introduced the option of pulling images using the external URL as well:

4.8 https://github.com/openshift/cluster-openshift-controller-manager-operator/pull/197
4.7 https://github.com/openshift/cluster-openshift-controller-manager-operator/pull/199
4.6 https://github.com/openshift/cluster-openshift-controller-manager-operator/pull/200

[2021-04-24 16:30] ricardomaraschini commented on #649
/close

As the PRs got merged I guess we can close this one.

[2021-04-24 16:30] #649 closed

[2021-06-10 04:08] relyt0925 commented on #657
We can reproduce this in IBM Cloud.  Added more notes in the bugzilla
https://bugzilla.redhat.com/show_bug.cgi?id=1959563

[2021-06-21 13:54] dmage commented on #657
The problem is fixed in 4.8. The backporting process can be tracked in the BZ.

[2021-06-21 13:54] #657 closed

[2021-08-31 14:26] #254 closed

[2021-08-31 15:17] openshift-merge-robot opened #714 "Future Release Branches Frozen For Merging | branch:release-4.10 branch:release-4.9"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.10`
 - `release-4.9`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J

[2022-01-26 16:53] cgwalters opened #744 "world-writable without sticky bit in `/etc/pki/ca-trust/extracted/edk2` etc"
See https://issues.redhat.com/browse/CMP-1179

Basically scanning the host (and recursing into the mounted containers) it seems like the cert dirs in the container end up world-writable.

I think it may be this code https://github.com/openshift/cluster-image-registry-operator/blob/11278d447c23f8248be7f35ef49e0ad6c29d144a/pkg/resource/podtemplatespec.go#L438

But as I note there it may actually be

[2022-01-26 23:29] dmage commented on #744
This directory is world-writable because entrypoint script should be able to add user-provided CAs into the container's trust store. We achieved that by mounting emptyDir (i.e. tmpfs) on top of /etc/pki/ca-trust/extracted. Why should it have the sticky bit?

[2022-02-03 18:00] nate-duke opened #752 "Third Party S3 configuration results in runtime panic"
in #485 it was mentioned that any compatible S3 storage back should more-or-less work. I'm trying to get the image-registry operator deployed and using an S3-compatible appliance (EMC PowerScale in my case) and am running into the following:
[code]
We're not in AWS if that helps. All IPI on vSphere.

Operator configured with:
[code]
which results in:
[code]
The source and documentation indicate th

[2022-02-04 11:50] dmage commented on #752
@nate-duke can you try `us-east-1`?

[2022-02-04 12:28] nate-duke commented on #752
Looks the same to me. Let me know if you need more info.

[code]

[code]

[2022-05-02 11:36] dmilde commented on #752
Experiencing the same issue with `vSphere (UPI) + NetApp StorageGRID` when trying to update Openshift 4.8 to 4.9.
This breaks updates for us so we created a RedHat case.

Sorry for not providing any new info here (besides other storage endpoints are affected as well), but I can add some once we get a response.

[2022-05-02 12:22] dmage commented on #752
Please update your regionEndpoint so that it starts with http:// or https://.
This problem is tracked in Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=2066388

[2022-05-02 12:31] dmilde commented on #752
Thank you, that fixed the error for us.

[2022-06-26 00:53] #744 closed

[2022-09-30 08:02] #752 closed